body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}
.navbar {
    text-transform: uppercase;
    background-color: #c9c9c9;
}
.scroll {
    color: #89bdd3;
}
.nav-link {
    color: #9ad3de;
}
.myPhoto {
    border-radius: 50%;
    margin-top: 7rem;
}
.btn {
    background-color: #89bdd3;
    margin: 1rem 0 2rem;
}
.jumbotron {
    background-color: #e3e3e3;
    padding: 2rem 2rem;
    margin-bottom: 0;
}
h1 {
    padding-top: 1rem;
}
h3 {
    font-size: 1.2rem;
    padding: 0 1rem 0 1rem;
    
}
h4 {
    font-size: 1.2rem;
}
.heading {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    padding-top: 4rem;
}
.clients {
    padding-top: 5.5rem;
}
.padding {
    padding: 2rem 0;
}
.portfolio {
    max-width: 100%;
}
.no-padding .col-md-6 {
    padding: 0;
}
.card {
    margin: 2rem;
}
.landing {
    background: #E9ECEF;
}
.footer .row {
    background-color: #616161;
    padding: 1rem 2rem 3rem;
}
.footer .col-md-6 {
    margin-top: 2rem;
    color: white;
}
p {
    margin-bottom: 0.5rem;
}
